/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --color-main: black;
  --color-accent: #00cc14;
  --color-button-text: #00cc14;
  --font-weight-text: 465;
  --font-weight-title: 785;

  --gradient-color-lines: #000;
  --gradient-color-first: #007f0c;
  --gradient-color-last: #004306;
  --gradient-starting-point: 0;
}

:root.theme-light {
  --color-main: white;
  --color-accent: black;
  --color-button-text: white;
  --font-weight-text: 400;
  --font-weight-title: 700;

  --gradient-color-lines: #d3d3d3;
  --gradient-color-first: #e7e7e7;
  --gradient-color-last: #1a1a1a;
  --gradient-starting-point: 0.01%;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: white;
    --color-accent: black;
    --color-button-text: white;
    --font-weight-text: 400;
    --font-weight-title: 700;
    
    --gradient-color-lines: #d3d3d3;
    --gradient-color-first: #e7e7e7;
    --gradient-color-last: #1a1a1a;
    --gradient-starting-point: 0.01%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: black;
    --color-accent: #00cc14;
    --color-button-text: #00cc14;
    --font-weight-text: 465;
    --font-weight-title: 785;

    --gradient-color-lines: #000;
    --gradient-color-first: #007f0c;
    --gradient-color-last: #004306;
    --gradient-starting-point: 0;
  }
}